@import "./reset.css";
@import "./fonts/Gilroy/stylesheet.css";

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}

/* BUTTON */
.btn {
  position: relative;

  display: inline-block;
  padding: 10px 24px;
  padding-right: 72px;

  border: 1px solid #114455;
  border-radius: 2px;

  font-size: 20px;
  font-weight: 800;
  color: #114455;

  transition: color .15s ease-in, background-color .15s ease-in;
}

.btn::after {
  position: absolute;

  content: "";
  width: 32px;
  height: 32px;

  background-image: url(./../img/icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-position: center;

  right: 24px;
  top: 50%;
  transform: translateY(-50%);


}

.btn:hover, .btn:focus {
  background-color: #114455;
  color: #fff;
}

.btn:active {
  top: 1px;
}

.btn:hover::after {
  background-image: url("./../img/icons/arrow-right-white.svg");
}

.btn__big {
  padding: 14px 32px;
  padding-right: 80px;
}

.btn--dark {
  background-color: #114455;
  color: #fff;
}

.btn--dark:hover, .btn--dark:focus {
  background-color: #000;
}

.btn--dark::after {
  background-image: url("./../img/icons/arrow-right-white.svg");
}


/* HEADER */

.header {
  min-height: 100vh;
  background-color: #b4ceda;
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
}

.header__top {
  margin-bottom: 126px;
  padding: 44px 0;
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 118px;
}
.link {
  font-size: 20px;
  font-weight: 800;
  color: #114455;
}

/* HEADER CONTENT */

.header__content {
  max-width: 1060px;
}
.header__title {
  max-width: 734px;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 80px;
  color: #114455;
}
.header__text {
  margin-bottom: 72px;

  font-weight: 400;
  font-size: 34px;
  letter-spacing: -0.02em;
  color: rgba(31, 31, 31, 0.7);
}

.header__text p + p {
  margin-top: 1em;
}

.header__btn {
}
